.banners{
  display: flex;

  &__banner{
    height: 780px;
    width: calc( 100% / 3);
    background-position: 30%;
    background-size: cover;
    position: relative;
    &:before{
      background-color: #555555;
    }
  }
}


.banner{
  display: flex;
  color: #fff;
  &__overlay{
    width: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 90px 0px 60px;
  }

  &__title{
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 100;
    text-align: center;
    margin-bottom: auto;
    .banner__name{
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__info{
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 100;
    width: 65%;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    p{
      line-height: 1;
      margin: 0px 0px 10px 0px;
    }
  }

  &__buttons{
    padding-top: 80px;
    .btn{
      margin-bottom: 12px;
    }
  }

  &:hover &__overlay{
    background-color: rgba(0,0,0,0.5);
  }
}