@import "const";
.info{
  background-color: $btn-blue;
  display: flex;
  flex-direction: column;
  padding: 45px 0px 70px;
  align-items: center;

  & &__container{
    max-width: 1040px;
    padding: 0px 20px;
  }

  &__logo{
    margin-bottom: 45px;
  }
  &__text{
    font-family: "Open Sans";
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
    text-indent: 4px;
    margin-bottom: 30px;

    &--bold{
      font-size: 24px;
      font-family: "Open Sans";
      color: #fff;
      margin-right: 35px;
      font-weight: 600;
    }
    p{
      margin: 5px 0px;
    }
  }

  &__spoiler{
    align-self: flex-start;
    display: flex;
    align-items: center;
    img{
      margin-right: 7px;
    }
  }
  &__btn{
    color: #fff;
  }
}