@import "const";
html, body{
  margin: 0px;
  padding: 0px;
}
.warn{
  border: 1px solid red !important;
  box-shadow: 0px 0px 22px -1px red !important;
}

.main{
  background-color: $gray;
}
.container{
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}
.btn{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 100;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  text-decoration: none;
  outline: none;
  color: $text;

  &__arrow{
    width: 47px;
    height: 47px;
    margin-right: 13px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.2s ease-in;
    &--bottom{
      background-image: url("../img/action/bottom.png");
    }
    &--right{
      background-image: url("../img/action/right.png");
    }
  }

  &:hover {
    cursor: pointer;
    .btn__arrow{
      background-color: $btn-blue;
    }
  }
}

.btn--oval{
  &:hover{
    background-color: $border-blue;
    .btn__text{
      color: #fff;
    }
  }
}


.tittle--h2{
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  font-weight: 100;
  color: $tittle;
  font-family: "Open Sans";
}

.tittle--h3{
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  font-weight: 600;
  color: $tittle;
  font-family: "Open Sans";
  color: #fff;
  margin-top: 0px;
}

.tittle--blue{
  background-color: $btn-blue;
  color: #fff;
  padding: 15px 0px;
  font-size: 28px;
}