<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
    <link rel="stylesheet" href="css/libs.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|PT+Sans+Narrow&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
<header class="header">
    <section class="header--fixed">
        <div class="header__container container">
            <div class="header__logo">
                <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/logos/head.png" alt="">
            </div>
            <div class="header__menu menu">
                <a class="menu__links" href="">
                    Главная
                </a>
                <a class="menu__links" href="">
                    О компании
                </a>
                <a class="menu__links" href="">
                    Объекты
                </a>
                <a class="menu__links" href="">
                    Документы
                </a>
                <a class="menu__links" href="">
                    Новости
                </a>
                <a class="menu__links" href="">
                    Акции
                </a>
                <a class="menu__links" href="">
                    Контакты
                </a>
            </div>
            <div class="header__contact contact">
                <div class="contact__number">
                    8-918-36186-18
                </div>
                <div class="contact__order">
                    <div class="contact__phone">
                        <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/action/phone.png" alt="">
                    </div>
                    <div class="contact__text">
                        Заказать звонок
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<main class="main">
    <section class="modal">
        <div class="modal__back">

            <div class="modal__content">
                <div class="order">
                    <div class="order__tittle">Заказать звонок</div>
                    <input type="text" placeholder="Ваше имя" class="order__input" name="name">
                    <input type="text" placeholder="Ваш телефон" class="order__input" name="phone">
                    <div class="order__button">Заказать</div>
                    <div class="modal__close">
                        Закрыть
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="banners">

        <div class="banners__banner banner" style="background-image: url(<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/banners/1.png)">
            <div class="banner__overlay">
                <div class="banner__title">
                    Апартаментный Комплекс
                    <div class="banner__name">
                        “Горизонт”
                    </div>
                </div>
                <div class="banner__info">
                    <p>Квартиры: от 33 до 140 м2</p>
                    <p>Срок сдачи: март 2018 года</p>
                    <p>Стоимость: от 100.000 руб./м2</p>
                </div>
                <div class="banner__buttons buttons">
                    <a class="btn info__btn btn--goto">
                        <div class="btn__arrow--bottom btn__arrow"></div>
                        <div class="btn__text" href="">
                            Перейти на сайт
                        </div>
                    </a>
                    <a href="" class="btn info__btn btn--more">
                        <div class="btn__arrow--right btn__arrow"></div>
                        <div class="btn__text">
                            Подробнее
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="banners__banner banner" style="background-image: url(<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/banners/2.png)">
            <div class="banner__overlay">
                <div class="banner__title">Апартаментный Комплекс
                    <div class="banner__name">
                        “Фазатрон”
                    </div>
                </div>
                <div class="banner__info">
                    <p>Квартиры: от 33 до 140 м2</p>
                    <p>Срок сдачи: март 2018 года</p>
                    <p>Стоимость: от 100.000 руб./м2</p>
                </div>
                <div class="banner__buttons buttons">
                    <a href="" class="btn info__btn btn--goto">
                        <div class="btn__arrow--bottom btn__arrow"></div>
                        <div class="btn__text">
                            Перейти на сайт
                        </div>
                    </a>
                    <a class="btn info__btn btn--more">
                        <div class="btn__arrow--right btn__arrow"></div>
                        <div class="btn__text">
                            Подробнее
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="banners__banner banner" style="background-image: url(<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/banners/3.png)">
            <div class="banner__overlay">
                <div class="banner__title">
                    Жилой комплекс
                    <div class="banner__name">
                        “Туапсинский”
                    </div>
                </div>
                <div class="banner__info">
                    <p>Квартиры: от 33 до 140 м2</p>
                    <p>Срок сдачи: март 2018 года</p>
                    <p>Стоимость: от 100.000 руб./м2</p>
                </div>
                <div class="banner__buttons buttons">
                    <a class="btn info__btn btn--goto">
                        <div class="btn__arrow--bottom btn__arrow"></div>
                        <div class="btn__text">
                            Перейти на сайт
                        </div>
                    </a>
                    <a class="btn info__btn btn--more">
                        <div class="btn__arrow--right btn__arrow"></div>
                        <div class="btn__text">
                            Подробнее
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>


    <section class="advantages">
        <h2 class="advantages__tittle tittle--h2">
            Наши преимущества
        </h2>

        <div class="advantages__container container">

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/locate.png" alt="">
                </div>
                <div class="offer__text">Лучшая локация <br> объектов</div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/home.png" alt="">
                </div>
                <div class="offer__text">Высокое качество монолитного строительства</div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/cost.png" alt="">
                </div>
                <div class="offer__text">Низкие цены</div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/molot.png" alt="">
                </div>
                <div class="offer__text">Работа по ФЗ-214</div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/heart.png" alt="">
                </div>
                <div class="offer__text">Благотворительность</div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/tree.png" alt="">
                </div>
                <div class="offer__text">Сохранение и восстановление ЭКО-зон</div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/makers.png" alt="">
                </div>
                <div class="offer__text">Стрим с 2007 года</div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/plan.png" alt="">
                </div>
                <div class="offer__text">Эргономичные планировки</div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/icons/fontan.png" alt="">
                </div>
                <div class="offer__text">Реконструкция общественных мест, парков</div>
            </div>

        </div>
        <a href="#" class="advantages__more btn btn--more btn--oval">
            <div class="btn__text">
                Подробнее
            </div>
        </a>
    </section>


    <section class="special">
        <h2 class="special__title tittle--h2 tittle--blue">
            Специальные предложения
        </h2>
        <div class="special__slider">
            <div class="special__img"><img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/slider/test.png" alt=""></div>
            <div class="special__img"><img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/slider/test.png" alt=""></div>
            <div class="special__img"><img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/slider/test.png" alt=""></div>
            <div class="special__img"><img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/slider/test.png" alt=""></div>
            <div class="special__img"><img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/slider/test.png" alt=""></div>
        </div>
    </section>


    <section class="advert">
        <div class="advert__img">
            <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/action/clas.png" alt="">
        </div>
        <h2 class="advert__text tittle--h2">
            Мы предлагаем лучшие цены
        </h2>
    </section>


    <section class="news">
        <article class="news__preview">
            <h3 class="tittle--h3">
                завершена реконструкция набережной ЖК “Фазотрон”
            </h3>
            <div class="news__text">
                Наша компания завершила реконструкцию, которая начиналась...
            </div>
            <div class="btn news__btn btn--more">
                <div class="btn__arrow--right btn__arrow"></div>
                <a class="btn__text">
                    Подробнее
                </a>
            </div>
        </article>

        <div class="news__photo">
            <h2 class="news__tittle tittle--h2 tittle--blue">
                Новости компании
            </h2>

            <div class="news__slider">
                <div class="news__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/news/1.jpg?v=1.1" alt="">
                </div>
                <div class="news__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/news/2.jpg" alt="">
                </div>
                <div class="news__img">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/news/3.jpg" alt="">
                </div>
            </div>

        </div>

    </section>


    <section class="partners">
        <h2 class="partners__tittle tittle--h2">
            партнеры
        </h2>

        <div class="container partners__container">

            <div class="partners__img">
                <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/brands/leps.png" alt="">
            </div>
            <div class="partners__img">
                <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/brands/zvezda.png" alt="">
            </div>
            <div class="partners__img">
                <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/brands/volna.png" alt="">
            </div>
            <div class="partners__img">
                <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/brands/sochi.png" alt="">
            </div>

        </div>

    </section>


    <section class="info">
        <div class="info__logo">
            <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/logos/logo_info.png" alt="">
        </div>
        <div class="info__container container">
            <div class="info__text">
                <p>Строительная компания Ново-Градъ зарекомендовала себя на рынке Сочи как надежный и качественный партнер.
                    Мы выполняем строительные работы согласно правилам безопасности, используя самые современные строительные
                    материалы и технологии.
                </p>
                <p>ООО «ново-Градъ» представляет Вам дома в самых лучших местах города Сочи. Профессиональный подход компании НовоГрадъ,
                    позволяет детально продумать планировки квартир, благоустройство прилегающей территории, сохранить экологическую
                    чистоту и гарантированную прочность.
                </p>
                <p> НовоГрадъ сотрудничает с лучшими поставщиками строительных материалов.
                    У нас за плечами строительство олимпийских объектов, возведение торговых центров и жилых домов на территории
                    Сочи и Москвы.
                </p>
                <p>СК “Ново-Градъ” - мы строим будущее!</p>
            </div>
            <div class="info__spoiler">
                <div class="info__text--bold">
                    <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/action/star.png" alt="">
                    Награды и Достижения компании
                </div>
                <div class="btn news__btn btn--more">
                    <div class="btn__arrow--right btn__arrow"></div>
                    <a class="btn__text">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>

    </section>


    <section id="map" class="map">

    </section>
</main>

<footer class="footer">
    <div class="footer__logo">
        <img src="<?php echo JUri::base();?>templates/<?php echo $doc->template;?>/images/logos/footer.png" alt="">
    </div>

    <div class="footer__info">

        <ul class="footer__place place">
            <li class="place__li place__li--header">
                Расположение
            </li>
            <li class="place__li">
                <p class="place__title">Адрес компании:</p>
                <p class="place__text">Сочи, ул.20-й Горнострелковой дивизии <br>
                    18А, 7 этаж, вход №1</p>
            </li>

            <li class="place__li">
                <p class="place__title">Почта:</p>
                <p class="place__text">info@ново-градъ.рф</p>
            </li>

            <li class="place__li">
                <p class="place__title">Телефон:</p>
                <p class="place__text">8-918-618-22-22 <br>
                    8-918-361-86-18</p>
            </li>

        </ul>


        <ul class="footer__sitemap sitemap">
            <li class="sitemap__li sitemap__li--header">
                <a href="">Информационный центр</a>
            </li>
            <li class="sitemap__li">
                <a href="">Главная</a>
            </li>
            <li class="sitemap__li">
                <a href="">О компании</a>
            </li>
            <li class="sitemap__li">
                <a href="">Объекты</a>
            </li>
            <li class="sitemap__li">
                <a href="">Документы</a>
            </li>
            <li class="sitemap__li">
                <a href="">Новости</a>
            </li>
            <li class="sitemap__li">
                <a href="">Акции</a>
            </li>
            <li class="sitemap__li">
                <a href="">Контакты</a>
            </li>

        </ul>

        <div class="footer__write btn btn--write">

        </div>
    </div>

    <div class="footer__order order">
        <div class="order__tittle">Заказать звонок</div>
        <input type="text" placeholder="Ваше имя" class="order__input" name="name">
        <input type="text" placeholder="Ваш телефон" class="order__input" name="phone">
        <div class="order__button">Заказать</div>
    </div>

</footer>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" defer></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="js/main.js" defer></script>
</body>
</html>