<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>

    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
<header class="header">
    <section class="header--fixed">
        <div class="container">
            <div class="header__logo">
                <img src="" alt="">
            </div>
            <div class="header__menu menu">
                <div class="menu__links">
                    Главная
                </div>
                <div class="menu__links">
                    О компании
                </div>
                <div class="menu__links">
                    Объекты
                </div>
                <div class="menu__links">
                    Документы
                </div>
                <div class="menu__links">
                    Новости
                </div>
                <div class="menu__links">
                    Акции
                </div>
                <div class="menu__links">
                    Контакты
                </div>
            </div>
            <div class="header__contact contact">
                <div class="contact__number">
                    8-918-36186-18
                </div>
                <div class="contact__order"></div>
            </div>
        </div>
    </section>
</header>

<main class="main">


    <section class="banners">

        <div class="banners__banner banner">
            <div class="banner__title"></div>
            <div class="banner__info">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="banner__buttons buttons"></div>
        </div>

        <div class="banners__banner banner">
            <div class="banner__title"></div>
            <div class="banner__info">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="banner__buttons buttons"></div>
        </div>

        <div class="banners__banner banner">
            <div class="banner__title"></div>
            <div class="banner__info">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="banner__buttons buttons"></div>
        </div>

    </section>


    <section class="advantages">
        <h2 class="advantages__tittle tittle--h2"></h2>

        <div class="advantages__container container">

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

            <div class="advantages__offer offer">
                <div class="offer__img"></div>
                <div class="offer__text"></div>
            </div>

        </div>
        <div class="advantages__more btn btn--more">
            Подробнее
        </div>
    </section>


    <section class="special">
        <h2 class="special__title tittle--h2 tittle--blue"></h2>
        <div class="special__slider">
            <div class="special__img"><img src="" alt=""></div>
            <div class="special__img"><img src="" alt=""></div>
            <div class="special__img"><img src="" alt=""></div>
            <div class="special__img"><img src="" alt=""></div>
            <div class="special__img"><img src="" alt=""></div>
        </div>
    </section>


    <section class="advert">
        <div class="advert__img">
            <img src="" alt="">
        </div>
        <h2 class="advert__text tittle--h2"></h2>
    </section>


    <section class="news">
        <article class="news__preview">
            <h3 class="tittle--h3">

            </h3>
            <div class="news__text"></div>
        </article>

        <div class="news__photo">
            <h2 class="news__tittle tittle--h2 tittle--blue">

            </h2>

            <div class="news__slider">
                <div class="news__img"><img src="" alt=""></div>
                <div class="news__img"><img src="" alt=""></div>
                <div class="news__img"><img src="" alt=""></div>
            </div>

        </div>

    </section>


    <section class="partners">
        <h2 class="partners__tittle tittle--h2"></h2>

        <div class="container partners__container">

            <div class="partners__img">
                <img src="" alt="">
            </div>
            <div class="partners__img">
                <img src="" alt="">
            </div>
            <div class="partners__img">
                <img src="" alt="">
            </div>
            <div class="partners__img">
                <img src="" alt="">
            </div>

        </div>

    </section>


    <section class="info">
        <div class="info__logo">
            <img src="" alt="">
        </div>
        <div class="info__text">
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="info__spoiler">
            <div class="info__text--bold">

            </div>
            <div class="btn info__btn btn--more"></div>
        </div>
    </section>


    <section class="map">

    </section>
</main>

<footer class="footer">
    <div class="footer__logo">

    </div>

    <div class="footer__info">

        <ul class="footer__place place">

            <li class="place__li">
                <p class="place__title"></p>
                <p class="place__text"></p>
            </li>

            <li class="place__li">
                <p class="place__title"></p>
                <p class="place__text"></p>
            </li>

            <li class="place__li">
                <p class="place__title"></p>
                <p class="place__text"></p>
            </li>

        </ul>


        <ul class="footer__sitemap sitemap">

            <li class="sitemap__li"></li>
            <li class="sitemap__li"></li>
            <li class="sitemap__li"></li>
            <li class="sitemap__li"></li>
            <li class="sitemap__li"></li>
            <li class="sitemap__li"></li>
            <li class="sitemap__li"></li>

        </ul>

        <div class="footer__write btn btn--write">

        </div>
    </div>

    <div class="footer__order order">

    </div>

</footer>
<script src="app.js" defer></script>
</body>
</html>